<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel = "stylesheet" href="/css/firstpage_style.css" />
    <meta charset="UTF-8">
</head>
<body>

<div class = "firstpage_container" th:action="@{/PersonalToDoList}" >
    <div style="background-color:#EAE0EE">
        <br>
        <h2>~ TODO List ~</h2>
        <hr>
    </div>
    <label><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <button type="submit">Login</button>
    <button type="register"><a href = "/PersonalToDoList/Registration">Register</a></button>
    <br>
    <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
</div>

<div class="container" style="background-color:#EAE0EE">
        <img src="/images/forgotpassword.jpg"> <br>
        <span class="psw"> <a href="#">Forgot password?</a></span>

</div>

</body>
</html>